{% extends 'competence/main.html' %}
{% load static %}C


{% block content %}

        <!-- success -->
        <div class="container-fluid py-5 my-5 wow fadeIn" data-wow-delay="0.3s">
            <div class="container text-center py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <i class="fa fa-check fa-7x mb-4 text-primary"></i>
                        <h1 class="display-1">Message Envoyé</h1>
                        <h1 class="mb-4">Nous vous contacterons dans les plus bref delais</h1>
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Revenir à la page d'acceuil</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin success -->



{% endblock %}